

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "Neue Haas Grotesk Text Pro";
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
}

#home{
    position: relative;
    z-index: 9999;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

#imagecontainer{
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#imagecontainer img{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%) scale(2);
        -ms-transform: translate(-50%,-50%) scale(2);
            transform: translate(-50%,-50%) scale(2);
    width: 100%;
}

#circle{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    width:140vw;
    height:140vw;
    border-radius: 50%;
    z-index: 99999;
    /* background-color: #fff; */
}

#circle img{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}

#circle #top img{
    -webkit-transform: translate(-50%,-50%) rotate(-180deg);
        -ms-transform: translate(-50%,-50%) rotate(-180deg);
            transform: translate(-50%,-50%) rotate(-180deg);
}

#circle #top img:nth-child(2){
    -webkit-transform: translate(-50%,-50%) rotate(-180deg) scale(.7);
        -ms-transform: translate(-50%,-50%) rotate(-180deg) scale(.7);
            transform: translate(-50%,-50%) rotate(-180deg) scale(.7);    
}

#circle #top img:nth-child(3){
    -webkit-transform: translate(-50%,-50%) rotate(-180deg) scale(.5);
        -ms-transform: translate(-50%,-50%) rotate(-180deg) scale(.5);
            transform: translate(-50%,-50%) rotate(-180deg) scale(.5);    
}


#circle #btm img:nth-child(2){
    -webkit-transform: translate(-50%,-50%) scale(.7);
        -ms-transform: translate(-50%,-50%) scale(.7);
            transform: translate(-50%,-50%) scale(.7);
}

#circle #btm img:nth-child(3){
    -webkit-transform: translate(-50%,-50%) scale(.5);
        -ms-transform: translate(-50%,-50%) scale(.5);
            transform: translate(-50%,-50%) scale(.5);    
}

#smcircle{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
    z-index: 9999;
   
}

#overlay{
    position: absolute;
    z-index: 999999;
    width: 100%;
    height: 100vh;
}

#nav{
    padding: 30px 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.shadesrow{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 5px;
}

.shadesrow span{
    font-size: 12px;
    font-family: "DS-Digital";
    font-weight: 800;
}

#shades .cubes{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.smcube{
    width: 50px;
    height: 30px;
    background-color: #fff;
}

#shades .smcube:nth-child(1){
    background-image:url("https://images.unsplash.com/photo-1525256074812-2f0a984bafad?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
}

#shades .smcube:nth-child(2){
     background-image:url("https://images.unsplash.com/photo-1625255111062-6d2be88a3beb?q=80&w=686&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
}

#shades .smcube:nth-child(3){
    background-image:url("https://images.unsplash.com/photo-1724985974623-4c776bfd3ba4?q=80&w=660&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
}

#shades .smcube:nth-child(4){
    background-image:url("https://images.unsplash.com/photo-1630041263631-c6c23c9219c8?q=80&w=685&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
}

#shades .smcube:nth-child(5){
   background-image:url("https://images.unsplash.com/photo-1724816631995-4494c3b2c19e?q=80&w=759&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
}

#shades .smcube:nth-child(6){
    background-image:url("https://images.unsplash.com/photo-1522001947148-8b4dfe064edc?q=80&w=746&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
}

#shades .smcube:nth-child(1):hover{   
    transform: scale(2);   transition:  1s ease
}
#shades .smcube:nth-child(2):hover{   
     transform: scale(2);   transition:  1s ease
}
#shades .smcube:nth-child(3):hover{   
     transform: scale(2);   transition:  1s ease
}
#shades .smcube:nth-child(4):hover{   
    transform: scale(2);   transition:  1s ease
}
#shades .smcube:nth-child(5):hover{   
   transform: scale(2);   transition:  1s ease
}
#shades .smcube:nth-child(6):hover{   
    transform: scale(2);   transition:  1s ease 
}

#footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    bottom: 0;
    width: 100%;
    position: absolute;
    z-index: 9999;
    padding: 0px 20px;
}

#footer img{
    width: 90px;
}


#centerimg{
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

#centerimg span{
    width: 100%;
    font-size: 1vw;
}

#centerimg #imagediv{
    position: relative;
    width: 100%;
    height: 13vw;
    overflow: hidden;
}

#centerimg img{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

#overlay h1{
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%,0);
        -ms-transform: translate(-50%,0);
            transform: translate(-50%,0);
    font-size: 11vw;
    font-weight: 500;
}

#overlay #sech1{
    position: absolute;
    bottom: -30%;
    left: 50%;
    -webkit-transform: translate(-50%,0) rotate(50deg);
        -ms-transform: translate(-50%,0) rotate(50deg);
            transform: translate(-50%,0) rotate(50deg);
    font-size: 11vw;
    font-weight: 500;
    color: #fff;
    z-index: 9999999;
    -webkit-transform-origin: 0 50%;
        -ms-transform-origin: 0 50%;
            transform-origin: 0 50%;
}

#purple{
    position: absolute;
    top: 120%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    border-radius: 50%;
    width: 8vw;
    height: 8vw;
   
}

#sidepurple{
    position: absolute;
    top: 110%;
    width: 30%;
    padding: 90px 30px 40px 30px;
   
}

#sidepurple img{
    width: 100%;
}

#second{
    position: relative;
    width: 100%;
    height: 100vh;
}

#soverlay #nav{
    position: absolute;
    top: 0;
    left: 0;
}

#soverlay{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#second #nav{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 50px;
}

#stop{
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
    border-bottom: 2px solid #dadada;
}

#sbtm {
    position: relative;
    width: 100%;
   
   height: 500px;
}

#sbtm video {
    width: 100%;
    object-fit: contain; 
}


.circle{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    border-radius: 50%;
    width: 18vw;
    height: 18vw;
}

#stop .pi{
    left: 23%;
    z-index: 999;
    background-image: url("https://images.unsplash.com/photo-1542779632-539b861ee8f9?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;    
}
#stop .pu{
    left: 43%;
    background-image: url("https://plus.unsplash.com/premium_photo-1740020242524-318435e4be6f?q=80&w=1112&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;  
}

#stop .li{
    left: 63%;
    z-index: 999;
    background-image: url("https://plus.unsplash.com/premium_photo-1757681487375-9c00eb801264?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;

}
#stop .ku{
    left: 83%;
    background-image: url("https://plus.unsplash.com/premium_photo-1740020264000-3da5b3508280?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;  
}

#stop h1{
    font-weight: 300;
    position: absolute;
    bottom: 0;
    z-index: 99999;
    line-height: .8;
    color: #fff;
    -webkit-transform: translateX(110%);
        -ms-transform: translateX(110%);
            transform: translateX(110%);
    font-size: 22vw;
    text-transform: uppercase;
   
}

#sbtm h3{
    text-align: center;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    font-size: 2.2vw;
    line-height: 1.6;
    text-transform: uppercase;
  
}

#sbtm h3:nth-child(1){
    opacity: 1;
}

/* FOOTER */
.bottom {
    border-top: 1px solid #dadada;
    padding: 40px 20px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    align-items: center;
    font-size: 14px;
    margin-top: 20px;
    
}

.footer-left p {
    margin-bottom: 10px;
    color: #555;
}

.footer-center {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.footer-center a {
    text-decoration: none;
    color: #111;
    font-weight: 500;
}

.footer-right {
    text-align: right;
}

.footer-right p {
    margin-bottom: 10px;
}

.socials a {
    margin-right: 10px;
    text-decoration: none;
    color: #111;
    font-weight: 600;
}

.footer-right small {
    display: block;
    margin-top: 15px;
    color: #888;
}



@media(max-width: 500px){
    #home #nav{
      font-size: 10px;
        display: flex;
      align-items: center;
     
        width: 100%;
     
        height: 50px;
    gap: 20px;
       
    }

 
     .cubes {
       
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50px;
     }
     .shadesrow span{
        display: none;
     }

    #overlay h1{
        bottom: 10%;
        font-weight: 900;
       
    font-size: 15vw;
    }

    #overlay #sech1{
        font-weight: 900;
        font-size: 15vw;
        -webkit-transform: translate(-50%,0) rotate(30deg);
            -ms-transform: translate(-50%,0) rotate(30deg);
                transform: translate(-50%,0) rotate(30deg);
             
    }

    #sidepurple{
        width: 85%;
        padding: 60px 30px 60px 30px;
    }

    #centerimg span{
        font-size: 4.5vw;
        margin-bottom: 2px;
        
    }

    #centerimg #imagediv{
        height: 42vw;
    }

    #footer{
        bottom: 2%;
    }

    #purple{
        width: 28vw;
        height: 28vw;
    }

    #imagecontainer img{
        width: initial;
        height: 100%;
    }

    #smcircle{
        width: 100vw;
        height: 100vw;
        
    }

    #circle{
        width: 270vw;
        height: 270vw;
        
    }

    .circle{
        width: 38vw;
        height: 38vw;
    }

    #sbtm h3{
        width: 90%;
        font-size: 4.8vw;
    }

    #stop h1{
        font-size: 62vw;
    }
    #sde{
     
        width: 100%;
       
        display: flex;
    }

    .bottom {
       display: flex;
       align-items: center;
       
    width: 100%;justify-content: center;
        
    }

    .footer-left p{
        font-size: 2px;
        display: flex;
      
       
       
        align-items: center;
        flex-direction: column;  
    }

    .footer-center {
        justify-content: center;
        gap: 10px;
        
       display: flex;
       flex-direction: column;
        font-size: 10px; 
    }

    .socials a {
        margin-right: 10px;
        
        font-size: 10px;
       
    }

    .footer-right {
        text-align: right;
        display: flex;
       
        flex-direction: column;
    }
}





/* Tablet Responsive (portrait + landscape tablets) */
@media(max-width: 786px) {
    #home #nav{
        padding: 25px 40px;
        display: flex;
        align-items: center;
      
    }

    #overlay h1{
        font-size: 10vw;
        bottom: 5%; 
        display: flex;
        align-items: center;
    }

    #overlay #sech1{
        font-size: 10vw;
        transform: translate(-50%,0) rotate(40deg);
        color: #111;
       
        display: flex;
        align-items: center;
    }

    #sidepurple{
        width: 70%;
        padding: 50px 40px 50px 40px;
       
    }

    #centerimg span{
        font-size: 2.5vw;
        margin-bottom: 5px;
    }

    #centerimg #imagediv{
        height: 30vw;
       
    }


    #purple{
        width: 10vw;
        height: 10vw;  
    }

    #imagecontainer img{
        width: 100%;
        height: 100%;

       
    }

    #smcircle{
        width: 60vw;
        height: 60vw;
       
    }

    #circle{
        width: 150vw;
        height: 150vw;  
    }

    .circle{
        width: 25vw;
        height: 25vw;
        
    }

   

    #stop h1{
        font-size: 30vw;
    }

    .bottom {
        grid-template-columns: 1fr 2fr 1fr; 
        gap: 15px;
        padding: 25px 20px;
        
    }

    .footer-left p,
    .footer-right p,
    .footer-right small {
        font-size: 10px; 
       
        
    }

    .footer-center {
        justify-content: center;
        gap: 12px;
       
        font-size: 10px; 
    }

    .socials a {
        margin-right: 10px;
        
        font-size: 10px;
       
    }

    .footer-right {
        text-align: right;
    }
}



